<a href="https://colab.research.google.com/github/Phorutai/ICMA252/blob/main/ICMA252_A2_pandas_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Pandas program to create a dataframe from a dictionary and display it.
```
data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
```

In [ ]:
# wirte code here. Feel free to add more code cell

2. Add a new column from the list stored in a vairabe name AA to the dataframe you have created in Problem 1

```
AA = [86,97,96,72,83]
```


Expected output
```
    X   Y   Z  AA
0  78  84  86  86
1  85  94  97  97
2  96  89  96  96
3  80  83  72  72
4  86  86  83  83
```

In [ ]:
# wirte code here. Feel free to add more code cell

3. Use .iloc[ ] to get a subset dataframe as the expected output below.

Expected output
```
    Y   Z  AA
1  94  97  97
2  89  96  96
3  83  72  72
```

In [ ]:
# wirte code here. Feel free to add more code cell

4. Use .loc[ ] to get a subset dataframe as the expected output below.

Expected output
```
    Y   Z  AA
1  94  97  97
2  89  96  96
3  83  72  72
```

5. Read a csv filr from the link below.

https://raw.githubusercontent.com/Phorutai/deposited_csv_data/refs/heads/main/hybrid_car.csv

In [ ]:
# No worry! I will do this as an example for you :)
import pandas as pd
df_evcar = pd.read_csv('https://raw.githubusercontent.com/Phorutai/deposited_csv_data/refs/heads/main/hybrid_car.csv')
df_evcar

6. Add three more rows from three dictionaries below to the dataframe in Problem 5 by **using concat()** function.


```
Alaska = {'Observed frequency':26, 'Population Porportion': 0.08}
Hawaii = {'Observed frequency':139, 'Population Porportion': 0.24}
Ohio = {'Observed frequency':98, 'Population Porportion': 0.13}
```
*Hint: Create a dataframe for those dictionaries*
Expected output
```
         State  Observed frequency  Population Proportion
0   California                 250                  0.495
1     Virginia                  56                  0.103
2  Washaington                  34                  0.085
3      Florida                  33                  0.240
4     Maryland                  33                  0.077
5       Alaska                  26                  0.080
6        Hawaii                 139                  0.240
7         Ohio                  98                  0.130

```

In [ ]:
# wirte code here. Feel free to add more code cell

7. From the dataframe you created in Problem 6, add two more columns from two lists below by **using concat()** function.


```
brand = ['Tesla', 'Tesla', 'BMW', 'MG', 'Tesla', 'MG', 'BYD','Delta']
market = ['$200K', '$120K', '$300K', '$100K', '$250K', '$200K', '$120','$180K']
```
*Hint: Create a dataframe for those lists*
Expected output
```
         State  Observed frequency  Population Proportion  Brand Market share
0   California                 250                  0.495  Tesla        $200K
1     Virginia                  56                  0.103  Tesla        $120K
2  Washaington                  34                  0.085    BMW        $300K
3      Florida                  33                  0.240     MG        $100K
4     Maryland                  33                  0.077  Tesla        $250K
5       Alaska                  26                  0.080     MG        $200K
6        Hawii                 139                  0.240    BYD         $120
7         Ohio                  98                  0.130  Delta        $180K
```

In [ ]:
# wirte code here. Feel free to add more code cell

8. From the dataframe you created in Problem 7, create a subset dataframe to get only states where the popupar brand is Tesla.

In [ ]:
# wirte code here. Feel free to add more code cell

9. Read three CSV files from the links below.

t1_22 = https://raw.githubusercontent.com/Phorutai/deposited_csv_data/refs/heads/main/T1-22.csv

t2_22 = https://raw.githubusercontent.com/Phorutai/deposited_csv_data/refs/heads/main/T2-22.csv

t3_22 = https://raw.githubusercontent.com/Phorutai/deposited_csv_data/refs/heads/main/T3-22.csv

In [ ]:
# wirte code here. Feel free to add more code cell

10. Use three dataframes from Problem 9 to create a data frame that will have four columns which are ‘Course code’, ‘T1/22’, ‘T2/22’, and ‘T3/22’ for the first to fourth columns respectively.

In [ ]:
# wirte code here. Feel free to add more code cell