<a href="https://colab.research.google.com/github/Phorutai/ICMA252/blob/main/Notebook_02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Review questions

- What is variable in python?
- Waht is an object type in python?
- What are string, integer, and float, respectively?

Define the variable name to store data value.
- Assigned a value using an equal symbol

  i.e. variable_name = value
- Can be any name BUT cannot have spaces and start with a number

  i.e. cannot be 1a or my name

In [ ]:
# define a variable name message to store the word Hello World
message = 'Hello world'
print(message)

In [ ]:
# define a variabke name x to the value of 5
x = 5
print(x)

In [ ]:
# define a variabke name y to the value of 5.3741
y = 5.3741
print(y)

In [ ]:
# check object type for variables mesaage, x, and y
print(type(message))
print(type(x))
print(type(y))

Exercise 2: Find the results and object types of the following problems
1. 1+1
2. str(1)+str(1)
3. math.log10(1+1)

In [ ]:
# 1+1

ans1 = 1+1
print(ans1)
print(type(ans1))

In [ ]:
# str(1)+str(1)
ans2 = str(1)+str(1)
print(ans2)
print(type(ans2))

In [ ]:
import math  # we need to use log10() function from math module, need to import math before calling log10()
ans3 = math.log2(1+1)
print(ans3)
print(type(ans3))

**Operation on variables**

*   Arithmetic operation (+, -, *, /, **)
*   Numerical operation
*   Strin operation

In [ ]:
# numerical operation
x = 12
y = 4

In [ ]:
a = x+y
a

In [ ]:
b = x*y
b

In [ ]:
c = x**y
c

In [ ]:
d = x/y
d

In [ ]:
# String operation
first_name = 'Pear'
last_name = 'Phojai'
full_name = first_name + ' '+ last_name  # add ' ' to add a blank space between first and last names
full_name

In [ ]:
# Numericla and String operation
n = 2
word = 'ha'

In [ ]:
w1 = word * n
w1

In [ ]:
w2 = word + str(n)
w2

In [ ]:
# make a sentence from numbers and strings
g = 4.00
text = 'I want to get a GPA'
# write code to create a sentence: â€˜I want to have GPA 4.00
sentence = text + ' ' + str(g)
sentence

Exercise 3
1. Given the vairables n1 = 11, n2 = 2, Use the vairabels and arithmatic operation to write code which yield the output belows
  *   22
  *   22.0
  *   1111
  *   11112222

In [49]:
n1 = 11
n2 = 2
# 22
c1 = n1*n2
print('c1', c1, type(c1))
# 22.0
c2 = float(n1*n2)
print('c2', c2, type(c2))
# '1111'
c3 = str(11) * 2 # or any code that can get this result expet print ('1111')
print('c3', c3, type(c3))
# '11112222'
c4 = (str(n1)*2)+(str(2)*4) # or any code that can get this result expet print ('11112222')
print('c4', c4, type(c4))

c1 22 <class 'int'>
c2 22.0 <class 'float'>
c3 1111 <class 'str'>
c4 11112222 <class 'str'>