<a href="https://colab.research.google.com/github/Phorutai/ICMA252/blob/main/Notebook_03_array_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Arrays in Python**


*   An array is a special variable, which are used to store multiple values in one single variable
*   You can access the values by referring to an index number
*   The arrays are especially useful when you have to process the data dynamically
*   List, Numpy array, Dictionary

# **List**
*  Store multiple items in a single variable
*  Lists are created using square brackets '[]'
*  List items are separated by commas ','
*  Items are ordered, changeable, and allow duplicate values.
*  List items are indexed, the first item has index [0], the second item has index [1], and so on.

In [2]:
list1 = [67, 78, 94, 45, 55]
# It is also possible to use the list() constructor when creating a new list.
# list2 = list((67, 78, 94, 45, 55))
list1

[67, 78, 94, 45, 55]

**Python list indexing**
*   Positive indexes
*   Negative indexes

In [ ]:
# From list1, write code to get items 1, 3, 5 by using positive indexes
pos_item1 = list1[0]
pos_item2 = list1[2]
pos_item3 = list1[4]
print(pos_item1, pos_item2, pos_item3)

In [ ]:
# From list1, write code to get items 1, 3, 5 by using negative indexes
neg_item1 = list1[-5]
neg_item2 = list1[-3]
neg_item3 = list1[-1]
print(pos_item1, pos_item2, pos_item3)

**Python list slicing**


*  A sliceing operator, colon(:)
*  Slicing format Lst[initial:end:step] (By default step is 1, if you do not put the step, python will assume it is 1)

In [3]:
list2 = [50, 70, 30, 20, 90, 10, 50 ]
list2

[50, 70, 30, 20, 90, 10, 50]

In [4]:
# slice to get a new list with items 2-4
new1 = list2[1:5]
new1

[70, 30, 20, 90]

In [6]:
# slice from item 2 the last item (item 7)
new2 = list2[1:7]
new2

[70, 30, 20, 90, 10]

In [ ]:
# get the whole by slcing
whole = list2[:]  # naked colon means get from the begining to the last
whole

Try running the code below and explain how it works
- list2[:4]
- list2[3:]
- list[::2]

In [ ]:
# write code here. Feel free to add more cell code.

**List methods**
- Changinh a value
- append()
- extend()
- insert()
- Delete: remove(), del()
- Sorted values

In [11]:
list1 = [67, 78, 94, 45, 55]
list1

[67, 78, 94, 45, 55]

In [4]:
# changeing a value in a list
list1[2] = 90
list1

[67, 78, 90, 45, 55]

In [5]:
# add values to the end of a list using the append() method
list1.append(32)
list1

[67, 78, 90, 45, 55, 32]

In [12]:
# append another list using the extend() method
list3 = [54, 73, 65]
list1.extend(list3)
list1

[67, 78, 94, 45, 55, 54, 73, 65]

In [13]:
# insert an item at a given index
list1.insert(4, 90)
list1

[67, 78, 94, 45, 90, 55, 54, 73, 65]

In [14]:
# remove an intem in a list by indicating the value of an item
list1.remove(78)
list1

[67, 94, 45, 90, 55, 54, 73, 65]

In [15]:
# remove an intem in a list by indicating the index of an item
del list1[3]
list1

[67, 94, 45, 55, 54, 73, 65]

**Exercise 4: List**

Data1 = [24, 27, 34, 40, 32, 35, 18]
Data2 = [34, 24, 39, 26, 37]
1. Add a new score, 34, to Data1, and print the whole list after adding
2. Add Data 2 to Data 1
3. Write the code to find the numbers of items 2-6
4. Insert a number 10 at the position 3
5. Remove the score at index 5 and keep the list after removing in the variable name “removed_data”
6. Sort the list from item 4 from big to small
7. Find the numbers of scores in the list using len() function

How many numbers in a list? What are those numbers?

In [ ]:
# write code here. Feel free to add more cell code.

# **NumPy array**
- A numpy array is a grid of values, all of the same type, and is indexed by a coordination (row, column) of non-negative integers
- It provides a high-performance multidimensional array object
-  We can initialize numpy arrays from nested Python lists, and access elements using square brackets
- Need to import numpy before calling functions in numpy module

In [16]:
# import numpy module as a nickname of np, so after this you can use np to refer to numpy
import numpy as np

In [17]:
# 1D array
array1 = np.array([1, 2, 3]) # create a 1-D array
array1

array([1, 2, 3])

In [18]:
# 1D array
type(array1) # check object type

numpy.ndarray

In [20]:
# 1D array
array1.shape # check the dimension shape of an array

(3,)

In [21]:
# 1D array
a1_i0 = array1[0] # index the fist item in an array
a1_i0

1

In [22]:
# 1D array
array1[0] = 5 # change the value of an item at the index 5
array1

array([5, 2, 3])

In [ ]:
# 2D array
array2 = np.array([[1,2,3],[4,5,6]]) # create a 2-D array
array2

In [ ]:
# 2D array
array2.shape

In [ ]:
# 2D array
a2_i0 = array2[0,0] # [row_id, column_id]
a2_i0
# try indexing other items

**Array indexing** is similar to Python lists, numpy arrays can be sliced. Since arrays may be multidimensional, you must specify a slice for each dimension of the array

In [23]:
# Create the following rank 2 array with shape (3, 4)
array3 = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
array3

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [24]:
array3_slice = array3[:2, 1:3] # Use slicing to pull out the subarray
array3_slice

array([[2, 3],
       [6, 7]])

**Exercise 5: Numpy array**
1. Create a 2D array from the table

![Picture1.png]()
2. Write python code to slicing the subarray to get the output below

  [[ 2  3  4]

   [ 4  9 16]]

In [ ]:
# write code here. Feel free to add more cell code.

# **Dictionary**
- Dictionaries are a lookup key-value system:
- Very similar to a list except the index is replaced by a defined key
- keys must be unique
- {A dictionary: Value_lookup} = {"Apple" : "Pie", "Banana" : "split", 3 : 60}

In [ ]:
# create a dictionary with 2 items
student_record = {20071213:'Andy Jones', 20081423:'John Smith'}
student_record

In [ ]:
# add an item of a pair of key-value in a dictionary
student_record[20096317] = 'Jane Doe'
student_record

In [ ]:
# get a student name by an ID number
student_record[20081423]

**keys() and values() methods**
- The keys() method returns all key items that can be looped through like a list or turned into a list
- The values() method returns all value items that can be looped through like a list or turned into a list

In [ ]:
# get all key items
key_item = student_record.keys()
key_item

In [ ]:
# check opject type
type(key_item)

In [ ]:
# get all value items
value_item = student_record.values()
value_item

In [ ]:
# check opject type
type(value_item)

In [ ]:
# write code here to convert key_item amd value_item to list, and find the number of items in student_record

**Exercises 6: Dictionary**
1. Create the dictionary from the table

![Picture2.png]()
2. Add blue colour with its RGB code (#0000FF) to the dictionary
3. Write python code to get only values from the dictionary and convert them as a list
4. Find a size of dictionary (How many itemns?)

In [ ]:
# write code here. Feel free to add more cell code.