<a href="https://colab.research.google.com/github/Phorutai/ICMA252/blob/main/Notebook_06_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **What is a DataFrame?**
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns
1. Read csv files
2. Getting columns and rows
3. Creating Data frame
4. Adding rows and comluns
5. Removing rows/columns
6. Concatenate data frame
7. Write out csv files
8. Summary statistics from data frame

In [ ]:
# You need to import the pandas module and run the code cell before using it.
import pandas as pd

# **1. Read csv files**

In [6]:
# Directory path from Uploaded files
file = 'exam_scores.csv'
# read a csv file and store a dataframe in a variable name 'df'
df = pd.read_csv(file)
df

    Name  Midterm  Final
0   Alex       35     92
1   Andy       75     36
2   Anya       77     65
3    Ash       54     78
4    Dan       86     49
5  Gemma       93     81

In [ ]:
# Directory path from GitHub link
file1 ='https://raw.githubusercontent.com/Phorutai/deposited_csv_data/main/exam_scores.csv'
df1 = pd.read_csv(file1)
df1

# **2. Getting columns and rows**

**Indexing columns and rows in DataFrame using iloc() or loc() functions**

- .iloc[ ] index with integer
- .loc[ ] index with string of column names or index names

In [ ]:
# use .iloc to index with integer of row index or column index
midterm_col = df.iloc[:, 1]
midterm_col
# type(midterm_col)

In [ ]:
# write code to get all comlumns in the first rows by using .iloc
midtern_row =

In [ ]:
# use .loc to index with string of index names or column names
midterm_col1 = df.loc[:, 'Midterm']
midterm_col1
# type(midterm_col1)

In [ ]:
# write code to get all comlumns in the first rows by using .loc
midtern_row1 =

**Create a Subset a data frame: Indexing**

In [ ]:
# get the first two rows of the last two columns
sub_df1 = df.iloc[0:2,1:]
sub_df1


How would you write the code to get the columns and rows as shown below?

![Picture3.png]()

In [ ]:
sub_df = # write code here

**Create a Subset a data frame: Column name**
- Get the specific column using double [ ] with column names

In [ ]:
# use [] with column names
df_name = df[['Name']]
df_name
type(df_name)

In [ ]:
# use [] get two columns
sub_df2 = df[['Name', 'Midterm']]
sub_df2

In [ ]:
# write code to get columns 'Midterm' and 'Final'
# use the original data frame from df
mid_final =

**Create a subset a data frame: a value of the column**

In [ ]:
df_alex = df[df['Name']=='Alex']
# Get any row in the Name column that the value is ‘Alex’
df_alex

In [ ]:
sub_df3 = df[df['Midterm']>= 50]
# Get any row in the Midterm column with a value greater than or equal to 50
sub_df3

# **3. Creating Data frame**

- DataFrame() function is used to create a DataFrame


```
import pandas as pd
nex_df = pd.DataFrame()
```


- Methods to create a DataFrame in Pandas
  1. Creating an Empty DataFrame
  2. Creating Pandas DataFrame from lists of lists
  3. Creating DataFrame from dictionary of array/lists

In [ ]:
"""1. Creat an empty data frame and adding data"""
new_df1 = pd.DataFrame() # create an empty data frame
# you have two lists of names and midterm
names = ['Alex', 'Andy', 'Anya', 'Ash', 'Dan', 'Gemma']
midterm = [35, 75, 77, 54, 86, 93]
new_df1['Name'] = names
new_df1['Midterm'] = midterm
new_df1

In [ ]:
"""2. Creating Pandas DataFrame from lists of lists"""
# create data in a format of lists containing name and score in a big list
names_mid = [['Alex', 35], ['Andy', 75], ['Anya', 77],['Ash', 54], ['Dan', 86], ['Gemma', 93]]
new_df2 = pd.DataFrame(names_mid, columns=['Name', 'Midterm'])
new_df2

In [ ]:
"""3. Creating DataFrame from dictionary of array/lists"""
# create a data in a dictionary, key is column, values are rows in a column
name_mid_dict = {'Name':['Alex', 'Andy', 'Anya', 'Ash', 'Dan', 'Gemma'],'Midterm':[35, 75, 77, 54, 86, 93]}
new_df3 = pd.DataFrame(name_mid_dict)
new_df3

In [ ]:
"""4. Creating DataFrame from list of dictionaries"""
# Create dictionaries in a big list. In each dictionary, keys are column names,
# values are in rows of each key
name_mid_final = [{'Name': 'Alex', 'Midterm':35, 'Final':92},
                  {'Name': 'Andy', 'Midterm':75, 'Final':36},
                  {'Name': 'Anya', 'Midterm':77, 'Final':65},
                  {'Name': 'Ash', 'Midterm':54, 'Final':78},
                  {'Name': 'Dan', 'Midterm':86, 'Final':49},
                  {'Name': 'Gemma', 'Midterm':93, 'Final':81}]
new_df4 = pd.DataFrame(name_mid_final)
new_df4

# **4. Adding rows and comluns**

To append or add a row to DataFrame, create the new row as Series and use
```
# df is a variable name that store a data frame
df._appened(new_df)
```

In [ ]:
"""adding rows"""
# use the original from df
# you have a new data store in a dictionary. you want to add the new row to exam_score.csv
new_row = {'Name':'Pear', 'Midterm':100, 'Final':100}
df = df._append(new_row, ignore_index=True)
df

You can simply add a new column by declaring a new columns name and a new list as a column. A new column will be the last column in a data frame.

In [ ]:
"""adding columns"""
# use the original from df
# you have a new data store in a list. you want to add the new column to exam_score.csv
quiz1 = [7, 10, 8, 5, 3, 9, 10]
df['Quiz 1'] = quiz1  # the new column name is 'Quiz 1'
df

To add a new column to a specified location not just at the end, you can use


```
# df is a variable name that store a data frame
df.insert(loc,column,value)
```

In [ ]:
"""insert a new column to a specific location"""
# use the original from df
# you have a new data store in a list. you want to add the new column next to the first column
pre_test = [2, 5, 3, 1, 4, 3, 7]
df.insert(1, 'Pre-test', pre_test)
df

# **5. Removing rows/columns**
To remove an existing row or column in a DataFrame, you can use drop() function by specifying the column name or the row index

```
# df is a variable name that store a data frame
df.drop()
```

In [ ]:
"""remove columns by comlum names"""
# use the original from df
# remove one column
df_remove1 = df.drop(columns='Pre-test')
df_remove1

In [ ]:
"""remove columns by comlum names"""
# use the original from df
# remove two columns
df_remove2 = df.drop(columns=['Pre-test', 'Quiz 1'])
df_remove2

In [ ]:
"""remove rows by indicating row index"""
# use the original from df
df_remove3 = df.drop(index=[5])
df_remove3

The reset_index() function can be used to reorder the index row number.

```
# df is a variable name that store a data frame
df.reset_index()
```

In [ ]:
df_remove3.reset_index(drop=True)  # by default drop=False, set it is true will not the old index to a removed data frame

In [ ]:
# use the original from df
# write code to remove rows of Andy and Dan

# **6. Concatenating data frame**

*  combine two data frames
*   pd.concat() where pd refers to pandas (import pandas as pd)
*  Stacking rows, axis = 0
*  Extending columns, axis = 1

**Stacking rows**
- Define axis = 0
- To reorder the row index number, define ignore_index = True

In [ ]:
# concatenating by rows
# use the origianal dataframe from exam_scores.csv
import pandas as pd
df = pd.read_csv('exam_scores.csv')
df_new_row =  pd.DataFrame({'Name':['Harry', 'Kelly', 'Lee'],'Midterm':[67, 58, 54],'Final':[98, 63, 78]})
df_joined_row =  pd.concat([df, df_new_row], axis=0, ignore_index=True)
df_joined_row

**Extending columns**
- Define axis = 1
- The number of rows between two data frames must be identical

In [ ]:
# concatenating by columns
# use the origianal dataframe from exam_scores.csv
import pandas as pd
df = pd.read_csv('exam_scores.csv')
df_new_col =  pd.DataFrame({'Quiz 1':[7, 10, 8, 5, 3, 9],'Quiz 2':[9, 6, 8, 5, 7, 10]})
df_joined_col =  pd.concat([df, df_new_col], axis=1)
df_joined_col

# **7. Write out csv files**

In [ ]:
# use the original from df
# you want to export the modified data frame to a csv file
df.to_csv('output_file.csv', index=False)

**Exercise 1:** Working with a Pandas DataFrame

1. Write a Pandas program to create and display a DataFrame from a specified dictionary data.



```
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, 15.5, 9, 20, 14.5, 14, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
```

2. Once you have created a dataframe from the exam_data dictionary, insert a column of 'pre-test' in front of the column 'score'

```
pre_test = [[7, 4, 10.5, 7.5, 2, 15, 7.5, 8, 7, 12]
```


3. You have the another data frame sotred the final scores of those students. They are in a dictionary below. You want add more two columns of 'final_score' and 'final qualify' to the exam_data dataframe.

  3.1 Create a new dataframe from the 'final_exam_data' dictionary

  3.2 Create a subset data from a dataframe you created in 3.1

  3.3 use concat() function to join two data frames

```
final_exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'final score': [79, 49, 92, 85, 51, 97, 89, 84, 42, 89],
            'final qualify': ['yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'yes']}
```

4. Create a subset data frame to get only students who are quilified; final qulify is yes.

In [ ]:
# wirte code here. Feel free to add more code cell

# **8. Summary statistics of a Pandas DataFrame**

DataFrame.describe() – generate descriptive statistics of columns in a data frame

In [ ]:
# read the exam_scores.csv
df =

In [ ]:
final_stat = df['Final'].describe()
final_stat  # what is an object type?

In [ ]:
# The final_stat can be operated like an numpy array
# Statistic words are row index to describe values
final_mean = final_stat['mean']
final_mean

If more than one columns are passed through describe() method, the result will be DataFrame object

In [ ]:
# use the data stored in df
exam_stat = df[['Midterm', 'Final']].describe()
exam_stat  # what is an object type?

In [ ]:
# The exam_stat can be operated like a Pandas DataFrame
# Row index are not number as usaual, but they are statisitc words
mean_midterm = exam_stat.loc['mean', 'Midterm']
mean_midterm

Summary statisitc calculation from rows and columns of a data frame
- Calculation of column mean (from all rows in a column) --> axis = 0
- Calculation of row mean (from all columns in a row) --> axis = 1

In [ ]:
"""Column mean"""
# use the data stored in df
# calculate from an entier column
mean_midterm = df.loc[:, 'Midterm'].mean()
mean_midterm

In [ ]:
"""Row mean"""
# use the data stored in df
# calculate for an entier rows
average_midterm_final = df.loc[:,'Midterm':'Final'].mean(axis=1)
average_midterm_final

**Exercise 2:**  Summary statistics in a DataFrame
- Use the exam_scores.csv as a data frame you will working with
- Calculate **mean** for midterm and final columns
- Calculate **standard deviation** for midterm and final columns
- Add two new rows of mean and std to the original DataFrame
- Save a new data frame with mean and statistic values to a CSV file

In [ ]:
# wirte code here. Feel free to add more code cell